.Joke {
    display: flex;
    border-bottom: #eeeeee;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 1rem;
}

.Joke-buttons {
    display: flex;
    margin-right: .5rem;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.Joke-text {
    width: 75%;
    font-size: 1.2rem;
}

.Joke-votes {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    border: 3px solid red;
    box-shadow: 0 10px 30px rgba(0,0,0,.2), 0 10px 12px rgba(0,0,0,.2);
    transition: linear .3s;
}

.fa-arrow-up, .fa-arrow-down {
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
}

.Joke-emoji {
    font-size: 3rem;
    margin-left: auto;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0,0,0,.2), 0 10px 12px rgba(0,0,0,.2);
}

.Joke-emoji i {
    transition: linear .2s;
}